body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.error-message {
  display: inline-block;
  color: red;
  background-color: yellow
}
/* Add your own custom styles here */