body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.error-message {
  display: inline-block;
  color: red;
  background-color: yellow
}

.flex-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  padding: 1em;
}
/* Add your own custom styles here */
.debug-message {
  background-color: yellow;
  display: inline-block;
  padding:.5em;
}

.debug-container {
  background-color: indianred;
  padding: 1em;
  color:white;
}