body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.error-message {
  display: inline-block;
  color: red;
  background-color: yellow;
  padding: .5em;
  margin: 1em;
}

.confirmation-message {
  display: inline-block;
  color: blue;
  font-weight: bold;
  padding: .5em;
  margin: 1em;
}

.alert-message {
  display: inline-block;
  color: blue;
  font-weight: bold;
  padding: .5em;
  margin: 1em;
}

.flex-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container {
  background-color: aliceblue;
}
.nav-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  display: inline-block;
  padding: 1em;
}
.nav-item-active {
  display: inline-block;
  padding: 1em;
  color: grey
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}



.nav-item a {
  display:inline;
  margin:.5em;
}

.nav-item-pending {
  display: inline-block;
  padding: 1em;
  background-color: yellow;
}

/* Add your own custom styles here */
.debug-message {
  background-color: yellow;
  display: inline-block;
  padding:.5em;
}

.debug-container {
  background-color: lightsalmon;
  background-image: url('assets/banner-2.png');
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  height: 100px;
  padding: 1em;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-container {
  padding: 0 !important;
}



.web-form {
  width: 50%;
  margin: 0, auto;
}

.account-info-container {
  background-color: aliceblue;
  margin: 1em;
  padding: 1em;
  flex:50%;
  display:flex;
  flex-direction: column;
}
.book-details-info-section {
  background-color: aliceblue;
  margin: 1em;
  padding: 1em;
  flex:50%;
  display:flex;
  flex-direction: column;
}

.book-info-item > img {
  max-width: 250px;
}

.account-info-container-titlebar {
  align-self: flex-start;
  background-color: slateblue;
  margin: 0;
  width: 100%;
  padding: .5em;
  color: white;
}
.col-section {
  background-color: aliceblue;
  margin-top: 1em;
  padding: 1em;
  display:flex;
  flex-direction: column;
}
.col-section-catalog-menu {
  background-color: aliceblue;
  padding: 0 0 1em !important;
  margin: 0;
  width:100%;
  padding: 1em;
  display:flex;
  flex-direction: row;
}

.row-section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-subsection {
  background-color: aliceblue;
  margin: 1em;
  padding: 1em;
  flex:50%;
  display:flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
}




.book-cover-lg {
  max-width: 250;
}

.book-cover-sm {
  max-width: 150px;
}

.table-cell {
  /* width: 100%; */
  height: inherit;
  vertical-align: middle;
  border-left: 10px solid black;
}
.books-table {
  border-collapse: collapse;
}
.books-table-cell {
  border: 1 solid black;
  padding: 10px;
}

.book-item-available {
  /* background-color: yellowgreen !important; */
  color: green !important;
  font-weight: bold;
}
.book-item-checked-out {
  /* background-color: lightsalmon !important; */
  color: darkred !important;
}

.book-item {
  display: flex;
  flex-direction: row;
}
.book-item > div {
  display: flex;
  flex-direction: row;
}
.book-item > div > i {
  align-self: center;
}

.ui-search {
  padding: 0 1em;
}

.grid-view-container {
  display:flex !important;
  flex-wrap: wrap;
  gap: 16px !important;
  /* flex-direction: row; */
  /* {{ display: 'flex', flexWrap: 'wrap', gap: '16px' }} */
  
}
.grid-view-item-container {
  margin: .5em !important;
}

.empty-list-msg {
  padding: .5em;
}

.card-label-container-available {
  display: flex;
  /* horizontal */
  justify-content: left;
  /* vertical */
  align-items: center;
  background-color: darkblue;
  color: white;

}
.card-label-container-reserved {
  display: flex;
  /* horizontal */
  justify-content: left;
  /* vertical */
  align-items: center;
  background-color: lightgray;
  color:gray;

}
.card-availability-label {
  padding: 1em;
  line-height: normal;
  font-weight: bolder !important;

}
